body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    min-height: 100px;
    max-width: 784px; /* 800 - 16 */
    max-height: 584px; /* 600 - 16 */
}

div {
    font-family: system-ui, sans-serif;
    font-size: 13px;
    text-align: center;
    color: white;
}

#content label {
    display: block;
    text-align: left;
    padding: 0em 0em 0em .5em;
    margin: .25em 0em 0em 0em;
}

#content #loading-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content input, #content button, #content textarea{
    border: 2px solid rgba(255, 255, 255, 0.2); 
    background: none;
    border-radius: 3px; 
    outline: none;
    padding: .5em;
    color: inherit;
    font-size: inherit;
    font-family: monospace;
    margin-top: .25em;
    margin-bottom: .25em;
    box-sizing: border-box; /* account for margin, outline, etc. */
}

/* Chrome, Safari, Edge, Opera */
#content input::-webkit-outer-spin-button,
#content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#content /* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

span { /* span is used to auto-widen textarea */
    font: inherit;
    letter-spacing: normal;
}

#content textarea {
    color: #d1d5db;
    border-radius: 3px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: block;
    min-width: 100%;
    min-height: 20em;
    white-space: pre;
    resize: none;
}

#content input {
    width: 100%;
    text-align: center;
    border-top: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2;
    outline: none;
}

#content button {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.75); 
    background: none;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
}  

#content button:disabled {
    background-color: #cccccc3b; /* Greyed out */
    color: #666666; /* Darker text color to indicate it's disabled */
    cursor: initial; /* Change cursor to indicate the action is not allowed */
}

#content button:focus {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.05); 
    outline: none;
}

#content button:hover {
    color: rgba(255, 255, 255, .85);
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: rgba(255, 255, 255, .85);
}

#navbar {
    min-width: 300px;
    min-height: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin: 0 auto;
}

#navbar #backButton {
    width: 2em;
    height: 2em;
}

#navbar #backButton svg{
    opacity: 30%;
    position:relative;  
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#navbar #backButton:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

#navbar #backButton:focus {
    border-color: rgba(255, 255, 255, 1);
    outline: 1px solid white;
    border-radius: 2px;
}

#navbar button {
    cursor: pointer;
    border: none;
    background: none;
}

#content #buttonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#content #buttonsDiv button {
    margin-left: 29px;
}
#content #buttonsDiv #statusIndicator {
    margin-top: 2px;
    min-width: 24px;
    display: inline-block;
}

#content #info {
    margin: 0em 2em 2em 2em;
}

#content #menu div {
    display: flex;
    flex-direction: column;
}

#content #menu button {
    display: block;
    width: 100%;
    padding: .75em;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 1;
    margin: 0;
    text-align: left;
}

#content #menu button:focus {
    outline: 1px solid;
}

#content #menu button:last-child {
    border-bottom: none;
}

#content select {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid grey;
    cursor: pointer;
}

#content #blockedSitesList {
    max-height: 30em;
    overflow-y: scroll;
}

#content #siteEntry {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

#content #siteEntry .blockedSiteInput, #content #siteEntry div {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

#content #siteEntry div {
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: .25em;
}


input[type="checkbox"] {
    appearance: none;  /* Removes default system appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;  /* Width of the custom checkbox */
    height: 24px; /* Height of the custom checkbox */
    background-color: white;
    border: 2px solid #ddd;
    position: relative;
    cursor: pointer;
}

/* unchecked */
input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5.75 3h12.5A2.75 2.75 0 0 1 21 5.75v12.5A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75A2.75 2.75 0 0 1 5.75 3Zm0 1.5c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25h12.5c.69 0 1.25-.56 1.25-1.25V5.75c0-.69-.56-1.25-1.25-1.25H5.75Z'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat;
}

/* checked */
input[type="checkbox"]:checked:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M18.25 3A2.75 2.75 0 0 1 21 5.75v12.5A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75A2.75 2.75 0 0 1 5.75 3h12.5Zm0 1.5H5.75c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25h12.5c.69 0 1.25-.56 1.25-1.25V5.75c0-.69-.56-1.25-1.25-1.25ZM10 14.44l6.47-6.47a.75.75 0 0 1 1.133.976l-.073.084-7 7a.75.75 0 0 1-.976.073l-.084-.073-3-3a.75.75 0 0 1 .976-1.133l.084.073L10 14.44l6.47-6.47L10 14.44Z'/%3E%3C/svg%3E%0A");
}

#content #siteEntry .activeCheckbox {
    width: 2em;
    display: inline-block;
    padding-top: .5em;
    box-sizing: border-box;
    border: none;
    border-image: none;
}

#content #siteEntry button {
    opacity: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none; 
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

#content #siteEntry button:hover {
    background-color: unset;
    opacity: 75%;
}

#content #siteEntry .confirmButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3 5.75A2.75 2.75 0 0 1 5.75 3h9.964a3.25 3.25 0 0 1 2.299.952l2.035 2.035c.61.61.952 1.437.952 2.299v9.964A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75ZM5.75 4.5c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25H6v-5.25A2.25 2.25 0 0 1 8.25 12h7.5A2.25 2.25 0 0 1 18 14.25v5.25h.25c.69 0 1.25-.56 1.25-1.25V8.286c0-.465-.184-.91-.513-1.238l-2.035-2.035a1.75 1.75 0 0 0-.952-.49V7.25a2.25 2.25 0 0 1-2.25 2.25h-4.5A2.25 2.25 0 0 1 7 7.25V4.5H5.75Zm10.75 15v-5.25a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0-.75.75v5.25h9Zm-8-15v2.75c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75V4.5h-6Z'/%3E%3C/svg%3E%0A");
}

#content #siteEntry .editButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='-2 0 26 28'%3E%3Cpath fill='%23fff' d='M21.03 2.97a3.578 3.578 0 0 1 0 5.06L9.062 20a2.25 2.25 0 0 1-.999.58l-5.116 1.395a.75.75 0 0 1-.92-.921l1.395-5.116a2.25 2.25 0 0 1 .58-.999L15.97 2.97a3.578 3.578 0 0 1 5.06 0ZM15 6.06 5.062 16a.75.75 0 0 0-.193.333l-1.05 3.85 3.85-1.05A.75.75 0 0 0 8 18.937L17.94 9 15 6.06Zm2.03-2.03-.97.97L19 7.94l.97-.97a2.078 2.078 0 1 0-2.94-2.94Z'/%3E%3C/svg%3E%0A");
}
    

#content #siteEntry .deleteButton {
    margin-left: .25em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='6 6 42 42'%3E%3Cpath fill='%23fff' d='M24 7.25a5.75 5.75 0 0 1 5.746 5.53l.004.22H37a1.25 1.25 0 0 1 .128 2.494L37 15.5h-1.091l-1.703 22.57A4.25 4.25 0 0 1 29.968 42H18.032a4.25 4.25 0 0 1-4.238-3.93L12.09 15.5H11a1.25 1.25 0 0 1-1.244-1.122l-.006-.128c0-.647.492-1.18 1.122-1.244L11 13h7.25A5.75 5.75 0 0 1 24 7.25Zm9.402 8.25H14.598l1.69 22.382a1.75 1.75 0 0 0 1.744 1.618h11.936a1.75 1.75 0 0 0 1.745-1.618l1.69-22.382Zm-6.152 5.25c.647 0 1.18.492 1.244 1.122L28.5 22v11a1.25 1.25 0 0 1-2.494.128L26 33V22c0-.69.56-1.25 1.25-1.25Zm-6.5 0c.647 0 1.18.492 1.244 1.122L22 22v11a1.25 1.25 0 0 1-2.494.128L19.5 33V22c0-.69.56-1.25 1.25-1.25Zm3.25-11a3.25 3.25 0 0 0-3.245 3.066L20.75 13h6.5A3.25 3.25 0 0 0 24 9.75Z'/%3E%3C/svg%3E%0A");
}

#content #siteEntry .deleteButton:hover {
    opacity: 75%;
    filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(7477%) hue-rotate(358deg) brightness(99%) contrast(119%);
}

#content #addNewBlockedSite {
    height: 2em;
    cursor: pointer;
    line-height: 2em;
}

#content #addNewBlockedSite:hover {
    background-color: rgba(255, 255, 255, .25)
}