body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    min-height: 100px;
    max-width: 784px; /* 800 - 16 */
    max-height: 584px; /* 600 - 16 */
}

div {
    font-family: system-ui, sans-serif;
    font-size: 13px;
    text-align: center;
    color: white;
}

#content label {
    display: block;
    text-align: left;
    padding: 0em 0em 0em .5em;
    margin: .25em 0em 0em 0em;
}

#content #loading-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content input, #content button, #content textarea{
    border: 2px solid rgba(255, 255, 255, 0.2); 
    background: none;
    border-radius: 3px; 
    outline: none;
    padding: .5em;
    color: inherit;
    font-size: inherit;
    font-family: monospace;
    margin-top: .25em;
    margin-bottom: .25em;
    box-sizing: border-box; /* account for margin, outline, etc. */
}

/* Chrome, Safari, Edge, Opera */
#content input::-webkit-outer-spin-button,
#content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#content /* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

span { /* span is used to auto-widen textarea */
    font: inherit;
    letter-spacing: normal;
}

#content textarea {
    color: #d1d5db;
    border-radius: 3px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: block;
    min-width: 100%;
    min-height: 20em;
    white-space: pre;
    resize: none;
}

#content input {
    width: 100%;
    text-align: center;
    border-top: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2;
    outline: none;
}

#content button {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.75); 
    background: none;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
}  

#content button:disabled {
    background-color: #cccccc3b; /* Greyed out */
    color: #666666; /* Darker text color to indicate it's disabled */
    cursor: initial; /* Change cursor to indicate the action is not allowed */
}

#content button:focus {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.05); 
    outline: none;
}

#content button:hover {
    color: rgba(255, 255, 255, .85);
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: rgba(255, 255, 255, .85);
}

#navbar {
    min-width: 300px;
    min-height: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin: 0 auto;
}

#navbar #backButton {
    width: 2em;
    height: 2em;
}

#navbar #backButton svg{
    opacity: 30%;
    position:relative;  
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#navbar #backButton:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

#navbar #backButton:focus {
    border-color: rgba(255, 255, 255, 1);
    outline: 1px solid white;
    border-radius: 2px;
}

#navbar button {
    cursor: pointer;
    border: none;
    background: none;
}

#content #buttonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#content #buttonsDiv button {
    margin-left: 29px;
}
#content #buttonsDiv #statusIndicator {
    margin-top: 2px;
    min-width: 24px;
    display: inline-block;
}

#content #info {
    margin: 0em 2em 2em 2em;
}

#content #menu div {
    display: flex;
    flex-direction: column;
}

#content #menu button {
    display: block;
    width: 100%;
    padding: .75em;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 1;
    margin: 0;
    text-align: left;
}

#content #menu button:focus {
    outline: 1px solid;
}

#content #menu button:last-child {
    border-bottom: none;
}

#content select {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid grey;
    cursor: pointer;
}

#content #blockedSitesList {
    max-height: 30em;
    overflow-y: scroll;
}

#content #siteEntry {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

#content #siteEntry .blockedSiteInput, #content #siteEntry div {
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 2em;
    line-height: 2em;
    box-sizing: border-box;
}

#content #siteEntry div {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#content #siteEntry .blockedSiteInput {

}

input[type="checkbox"] {
    appearance: none;  /* Removes default system appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;  /* Width of the custom checkbox */
    height: 24px; /* Height of the custom checkbox */
    background-color: white;
    border: 2px solid #ddd;
    position: relative;
    cursor: pointer;
}

/* unchecked */
input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5.75 3h12.5A2.75 2.75 0 0 1 21 5.75v12.5A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75A2.75 2.75 0 0 1 5.75 3Zm0 1.5c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25h12.5c.69 0 1.25-.56 1.25-1.25V5.75c0-.69-.56-1.25-1.25-1.25H5.75Z'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat;
}

/* checked */
input[type="checkbox"]:checked:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M18.25 3A2.75 2.75 0 0 1 21 5.75v12.5A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75A2.75 2.75 0 0 1 5.75 3h12.5Zm0 1.5H5.75c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25h12.5c.69 0 1.25-.56 1.25-1.25V5.75c0-.69-.56-1.25-1.25-1.25ZM10 14.44l6.47-6.47a.75.75 0 0 1 1.133.976l-.073.084-7 7a.75.75 0 0 1-.976.073l-.084-.073-3-3a.75.75 0 0 1 .976-1.133l.084.073L10 14.44l6.47-6.47L10 14.44Z'/%3E%3C/svg%3E%0A");
}

#content #siteEntry .activeCheckbox {
    width: 2em;
    display: inline-block;
    height: 2em;
    box-sizing: border-box;
    border: none;
    border-image: none;
}

#content #siteEntry button {
    width: 2em;
    height: 2em;
    display: inline-block;
}

#content #siteEntry .editButton, #content #siteEntry .confirmButton {
    right: 4em;
}

#content #siteEntry .deleteButton {
    right: 2em
}
