:host {
    all: initial;
}

#blobsey-flashcard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75); 
    backdrop-filter: blur(0px); 
    opacity: 0; 
    transition: opacity .25s ease, backdrop-filter .25s ease;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.blobsey-flashcard-ui, .blobsey-flashcard-ui * {
    box-sizing: border-box;
    font-family: system-ui, sans-serif; 
    color: white; 
}

.blobsey-flashcard-ui {
    max-width: 120em;
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto; z-index: 10000;
}

.blobsey-flashcard-ui div {
    display: block;
    text-align: center;
    padding: .5em;
    width: 100%;
    white-space: pre-wrap;
}

.blobsey-flashcard-ui form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

.blobsey-flashcard-ui input {
    background: none;
    border-top: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2;
    outline: none;
    max-width: 40em;
    margin-top: 1em;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    display: flex; flex-direction: column; align-items: center;
}

.blobsey-flashcard-ui #blobsey-flashcard-buttons-div {
    display: flex; justify-content: center;
}

.blobsey-flashcard-ui button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 6em;
    padding: .25em; 
    font-size: 16px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5); 
    background: none;
    margin: 0 10px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.1s, border-color 0.3s, color 0.3s;
}    

.blobsey-flashcard-ui button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: rgba(255, 255, 255, .75);
}


.blobsey-flashcard-ui button:focus {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}


@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%)  }
}

.blobsey-flashcard-ui .toast {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 9999;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards, fadeOut 0.3s ease-in-out 5s forwards;
}

/* Shared for code and pre */
.blobsey-flashcard-ui pre, .blobsey-flashcard-ui code {
    font-size: 16px; 
    font-family: monospace; 
    color: #d1d5db; 
    background-color: rgba(0, 0, 0, .25); 
    border-radius: 4px; 
    border: 1px solid rgba(255, 255, 255, .2); 
}       

.blobsey-flashcard-ui code {
    padding: .1em;
}

.blobsey-flashcard-ui pre {
    white-space: pre-wrap;
    display: block;
    width: max-content;
    overflow-x: auto; 
    padding: .5em;
    margin: .25em auto .25em auto;
    text-align: left;
}

.blobsey-flashcard-ui #edit-screen-textarea-front {
    color: #d1d5db;
    font-family: monospace;
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    outline: none;
    width: 90%;
    max-width: 60em;
    padding: 10px;
    overflow-y: auto;
    display: block;
    height: max-content;
    max-height: 75vh;
    white-space: pre-wrap;
    resize: none;
    background-color: inherit;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button::before {
    content: "×";
    color: #fff;
    position: relative;
    top: -2px;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button:hover::after {
    opacity: 1;
}

.blobsey-flashcard-ui #blobsey-flashcard-fullscreen-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-container {
    max-width: 60em;
    height: 100vh;
    flex: 1;
    overflow-y: auto;
    display: block;
    box-sizing: border-box;
    margin-top: 1em;
}

.blobsey-flashcard-ui #blobsey-flashcard-loading-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* lines between rows in table */
.blobsey-flashcard-ui #blobsey-flashcard-list-table tr {
    display: block;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2;
    transition: background-color 0.3s ease;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table tr:last-child {
    border-bottom: none;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table th,
.blobsey-flashcard-ui #blobsey-flashcard-list-table td {
    box-sizing: border-box;
    display: inline-block;
    padding: 1em 1em;
    font-family: monospace, sans-serif;
    font-size: .75em;
    cursor: pointer;
    white-space: nowrap;    
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table th:first-child,
.blobsey-flashcard-ui #blobsey-flashcard-list-table td:first-child {
    text-align: left;
    width: 75%;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table th:last-child,
.blobsey-flashcard-ui #blobsey-flashcard-list-table td:last-child {
    text-align: right;
    width: 25%;
}

/* Hover effect for table rows */
.blobsey-flashcard-ui #blobsey-flashcard-list-table tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}