:host {
    all: initial;
}

#blobsey-flashcard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75); 
    z-index: 9998;
    opacity: 0;
    transition: opacity ease 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#blobsey-flashcard-screenshot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* filter: blur(10px); */
    z-index: 9997;
}


.blobsey-flashcard-ui, .blobsey-flashcard-ui * {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    color: white; 
    scrollbar-color: rgba(125, 125, 125, 0.5) transparent;
}

.blobsey-flashcard-ui {
    max-width: 120em;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: safe center; /* added safe to mitigate scroll bug with offscreen elements */
    align-content: center;
    flex-direction: column;
    overflow-y: auto; 
    z-index: 10000;
}

.blobsey-flashcard-ui div {
    display: block;
    text-align: center;
    white-space: pre-wrap;
}

.blobsey-flashcard-ui #blobsey-flashcard-flip-button {
    margin: 1em 0 1em 0;
}

.blobsey-flashcard-ui #blobsey-flashcard-frontDiv,
.blobsey-flashcard-ui #blobsey-flashcard-backDiv  {
    display: flex;
    flex-direction: column;
    align-items: safe center;
    max-width: 60em;
    line-height: 1.5em;
}

.blobsey-flashcard-ui #blobsey-flashcard-frontDiv *,
.blobsey-flashcard-ui #blobsey-flashcard-backDiv *{
    margin: .5em auto .5em auto;
}

.blobsey-flashcard-ui #blobsey-flashcard-frontDiv ol, 
.blobsey-flashcard-ui #blobsey-flashcard-frontDiv ul,
.blobsey-flashcard-ui #blobsey-flashcard-backDiv ol,
.blobsey-flashcard-ui #blobsey-flashcard-backDiv ul {
    text-align: start;
    white-space: initial;
}

#blobsey-flashcard-diffDiv {
    margin-left: -3em;
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns: the label and the answer */
    gap: .25em .5em; 
    align-items: baseline;
}

.blobsey-flashcard-ui .diff-label {
    font-weight: bold;
    text-align: right;
}

.blobsey-flashcard-ui .diff-answer {
    text-align: center;
    min-width: 5em;
}


.blobsey-flashcard-ui #blobsey-flashcard-divider {
    width: min(100%, 20em);
    margin: 1em 0 .9em 0; 
}

.blobsey-flashcard-ui .blobsey-flashcard-underline {
    border-bottom: 2px solid rgba(255, 255, 255, .05);
    /* border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2; */
}


/* Grade screen */

.blobsey-flashcard-ui #blobsey-flashcard-grading-buttons {
    display: flex;
    flex-direction: row;
    align-items: safe center;
    margin: 2em 0;
}

.blobsey-flashcard-ui #blobsey-flashcard-grading-buttons *:not(:first-child) {
    margin-left: 1em;
}

.blobsey-flashcard-ui #blobsey-flashcard-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

.blobsey-flashcard-ui input[type="text"] {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, .05);
    /* border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2; */
    outline: none;
    width: 10em;
    margin: 1em auto 1em auto;
    font: 14px system-ui, sans-serif;
    text-align: center;
}


/* Checkbox */
.blobsey-flashcard-ui input[type="checkbox"] {
    appearance: none;  /* Removes default system appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;  /* Width of the custom checkbox */
    height: 24px; /* Height of the custom checkbox */
    position: relative;
    cursor: pointer;
}

/* unchecked */
.blobsey-flashcard-ui input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5.75 3h12.5A2.75 2.75 0 0 1 21 5.75v12.5A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75A2.75 2.75 0 0 1 5.75 3Zm0 1.5c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25h12.5c.69 0 1.25-.56 1.25-1.25V5.75c0-.69-.56-1.25-1.25-1.25H5.75Z'/%3E%3C/svg%3E%0A");    
    background-repeat: no-repeat;
}

/* checked */
.blobsey-flashcard-ui input[type="checkbox"]:checked:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M18.25 3A2.75 2.75 0 0 1 21 5.75v12.5A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75A2.75 2.75 0 0 1 5.75 3h12.5Zm0 1.5H5.75c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25h12.5c.69 0 1.25-.56 1.25-1.25V5.75c0-.69-.56-1.25-1.25-1.25ZM10 14.44l6.47-6.47a.75.75 0 0 1 1.133.976l-.073.084-7 7a.75.75 0 0 1-.976.073l-.084-.073-3-3a.75.75 0 0 1 .976-1.133l.084.073L10 14.44l6.47-6.47L10 14.44Z'/%3E%3C/svg%3E%0A");
}

.blobsey-flashcard-ui #blobsey-flashcard-buttons-div {
    display: flex; 
    justify-content: center;
    margin: 2em 0;
}

.blobsey-flashcard-ui #blobsey-flashcard-buttons-div *:not(:first-child) {
    margin-left: 1em;
}

.blobsey-flashcard-ui #blobsey-flashcard-time-grant {
    margin-top: 1em;
}

.blobsey-flashcard-ui button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 6em;
    padding: .25em; 
    font: 14px system-ui, sans-serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: transparent;
    outline: none;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
    line-height: 24px;
}    

.blobsey-flashcard-ui button:hover {
    background: rgba(255, 255, 255, 0.2); 
}

.blobsey-flashcard-ui button:focus {
    color: rgba(255, 255, 255, 1);
    outline: 1px solid rgba(255, 255, 255, .75);
}

.blobsey-flashcard-ui button:disabled {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    cursor: default;
    background-color: rgba(255, 255, 255, 0.1);
}


@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%)  }
}

.blobsey-flashcard-ui .toast {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    font: 14px system-ui, sans-serif;
    z-index: 9999;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards, fadeOut 0.3s ease-in-out 5s forwards;
}

/* Shared for code and pre */
.blobsey-flashcard-ui pre, .blobsey-flashcard-ui code {
    font: 14px monospace, system-ui, sans-serif; 
}       

.blobsey-flashcard-ui code {
    background-color: rgba(0, 0, 0, 0.25); 
    border-radius: 3px;
    padding: 2px 3px;
}

.blobsey-flashcard-ui pre {
    color: #d1d5db; 
    background-color: rgba(0, 0, 0, .25); 
    border-radius: 3px; 
    border: 1px solid rgba(255, 255, 255, .2); 
    white-space: pre-wrap; 
    display: block;
    width: auto;
    padding: .5em;
    margin: .25em auto .25em auto;
    text-align: left;
    flex-shrink: 0;
}

.blobsey-flashcard-ui pre code {
    background-color: transparent;   
    padding: 0; 
}

.blobsey-flashcard-ui #edit-screen-textarea-front {
    color: #d1d5db;
    font: 14px monospace, sans-serif;
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 3px;
    outline: none;
    width: 90%;
    max-width: 60em;
    padding: 10px;
    overflow-y: auto;
    display: block;
    height: max-content;
    max-height: 75vh;
    white-space: pre-wrap;
    resize: none;
    background-color: inherit;
}


/* Add flashcard screen */

.blobsey-flashcard-ui #blobsey-flashcard-addscreen-buttonsDivTop {
    width: calc(100% - 2em);
    max-width: 58em;
    display: flex;
    flex-direction: row;
    margin: 1em 1em 0 1em;
    justify-content: flex-start;
}

.blobsey-flashcard-ui #blobsey-flashcard-addscreen-buttonsDivTop > *:not(:first-child) {
    margin-left: 1em;
}

.blobsey-flashcard-ui #blobsey-flashcard-show-preview-label {
    position: relative;
    display: block;
    cursor: pointer;
    line-height: 24px;
    height: 24px;
    margin: 3px 0 !important;
}

.blobsey-flashcard-ui #blobsey-flashcard-addScreen-deckSelect option {
    color: black;
}

.blobsey-flashcard-ui #blobsey-flashcard-addscreen-buttonsDivBottom {
    width: calc(100% - 2em);
    max-width: 58em;
    display: flex;
    flex-direction: row;
    margin: 0 1em 2em 1em;
    justify-content: flex-end;
}

.blobsey-flashcard-ui #blobsey-flashcard-add-flashcard-button {
    width: auto;
    margin: 0 0 0 .5em;
}

.blobsey-flashcard-ui #blobsey-flashcard-anchor-div {
    height: 0;
    width: 0;
    position: relative;
    bottom: -100px;
}

.blobsey-flashcard-ui select {
    font: .75rem monospace;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.75);
    padding: 8px;
    border-radius: 4px;
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
    border: transparent;
    cursor: pointer;
    margin: 0 .5em;
}

.blobsey-flashcard-ui #blobsey-flashcard-widgets-container {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    overflow-y: scroll;
    align-items: start;
    justify-content: start;
}

.blobsey-flashcard-ui .blobsey-flashcard-editor-widget {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60em;
    transition: max-width .3s ease;
}

.blobsey-flashcard-ui .blobsey-flashcard-editor-widget.expanded {
    max-width: 100%;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-header {
    width: calc(100% - 2em);
    border: none;
    background-color: rgba(255, 255, 255, .05);
    border-radius: unset;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 10px auto 0 1em;
    height: 2em;
    display: flex; /* to make sure text is centered vertically */
    flex-direction: row;
    align-items: center;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-header.button:hover {
    background-color: rgba(255, 255, 255, .075);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-header.button:focus {
    outline: 1px solid rgba(255, 255, 255, .75);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-headerText {
    opacity: 50%;
    font-family: monospace, system-ui, sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    height: 1.2em;
    white-space: nowrap;
    visibility: hidden;
    padding-right: 40px;
    margin: 0 1em;
    line-height: 1.2em;
}

/* Show a sneak peek of card when widget is collapsed */
.blobsey-flashcard-ui .blobsey-flashcard-widget-headerText.collapsed {
    visibility: visible;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-header.collapsed {
    border-radius: 3px;
}


.blobsey-flashcard-ui .blobsey-flashcard-editor-container {
    position: relative; /* need this so the preview is the correct height */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: calc(100% - 2em);
    margin: 0 auto 0 1em;
    min-height: 10em;
    border: none;
    background-color: rgba(255, 255, 255, .05);
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: min-height .3s ease;
}

.blobsey-flashcard-ui .blobsey-flashcard-editor-container.resizing {
    transition: initial;
}

.blobsey-flashcard-ui .blobsey-flashcard-editor-container.collapsed {
    display: none;
}

.blobsey-flashcard-ui .blobsey-flashcard-inputsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, padding 0.3s ease;
}

.blobsey-flashcard-ui .blobsey-flashcard-inputsDiv.halfsize {
    width: 50%;
}

.blobsey-flashcard-ui .blobsey-flashcard-inputsDiv.resizing {
    transition: initial;
}

.blobsey-flashcard-ui .blobsey-flashcard-frontTextarea,
.blobsey-flashcard-ui .blobsey-flashcard-backTextarea {
    color: #d1d5db;
    font: 14px monospace, sans-serif;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 1em;
    height: 15em;
    border-radius: 3px;
    outline: none;
    overflow-y: auto;
    display: block;
    white-space: pre-wrap;
    resize: none;
    line-height: 1.25em;
    transition: height .05s ease;
}

.blobsey-flashcard-ui .blobsey-flashcard-frontTextarea.error,
.blobsey-flashcard-ui .blobsey-flashcard-backTextarea.error {
    box-shadow: inset 0 0 1px 1px red;
}

.blobsey-flashcard-ui .blobsey-flashcard-checkboxContainerDiv {
    opacity: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em .5em;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-divider {
    margin: calc(2em - 2px) 2em 2em 2em;
    border-bottom: 2px solid rgba(255, 255, 255, .05);
}

.blobsey-flashcard-ui .blobsey-flashcard-previewDiv {
    margin: auto;
    padding: 0 .25em; /* added because of weird horizontal scroll jank */
    position: absolute;
    right: 2em;
    top: 0;
    width: calc(50% - 4em);
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: safe center;
    transition: right 0.3s ease;
    overflow-y: auto;
    overflow-x: auto;
    flex-shrink: 0;
}

.blobsey-flashcard-ui .blobsey-flashcard-topAndBottomDiv {
    width: 100%;
}

.blobsey-flashcard-ui .blobsey-flashcard-topAndBottomDiv.hidden {
    display: none;
}


.blobsey-flashcard-ui .blobsey-flashcard-topPreviewDiv,
.blobsey-flashcard-ui .blobsey-flashcard-bottomPreviewDiv {
    display: flex;
    flex-direction: column;
    align-items: safe center;
    line-height: 1.5em;
}

.blobsey-flashcard-ui .blobsey-flashcard-topPreviewDiv ol, 
.blobsey-flashcard-ui .blobsey-flashcard-topPreviewDiv ul,
.blobsey-flashcard-ui .blobsey-flashcard-bottomPreviewDiv ol, 
.blobsey-flashcard-ui .blobsey-flashcard-bottomPreviewDiv ul {
    text-align: start;
    white-space: initial;
}

.blobsey-flashcard-ui .blobsey-flashcard-topPreviewDiv *,
.blobsey-flashcard-ui .blobsey-flashcard-bottomPreviewDiv * {
    margin: 0 auto .5em auto;
}

.blobsey-flashcard-ui .blobsey-flashcard-previewDiv.hidden {
    right: -50%;
}

.blobsey-flashcard-ui .blobsey-flashcard-previewDiv.resizing {
    transition: initial;
}

.blobsey-flashcard-ui .blobsey-flashcard-previewDividerDiv {
    border-bottom: 2px solid rgba(255, 255, 255, .05);
    width: 100%;
    margin: 1em 0 calc(1em - 2px) 0;
}

.blobsey-flashcard-ui #blobsey-flashcard-add-another-flashcard-button {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 58em;
    border: none;
    background-color: rgba(255, 255, 255, .05);
    width: calc(100% - 2em); /* gives 1em margin on each side */
    margin: 10px 1em 10px 1em; /* NOTE TO SELF: don't use width: 100% with margins lmao */
}

.blobsey-flashcard-ui #blobsey-flashcard-add-another-flashcard-button:hover {
    background-color: rgba(255, 255, 255, .075);
}

.blobsey-flashcard-ui #blobsey-flashcard-add-another-flashcard-button:focus {
    outline: 1px solid rgba(255, 255, 255, .75);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-close-button {
    position: absolute;
    top: 10px;
    right: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: unset;
    border-top-right-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background: transparent;
}


.blobsey-flashcard-ui .blobsey-flashcard-widget-close-button::before {
    content: "×";
    color: #fff;
    position: relative;
    top: -2px;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-close-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: -1;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-close-button:hover::after {
    opacity: 1;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-close-button:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-resizer {
    color: rgba(255, 255, 255, .40);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1em;
    cursor: col-resize;
    z-index: 10000;
    transition: background-color 0.2s ease;
    position: relative;
    height: 10em;
    margin: auto 0;
    transform: translateY(-1em) translateX(-50%);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-resizer::after {
    content: '';
    display: block;
    width: 4px;
    height: 16px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-75%);
    transition: background-color 0.3s;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-resizer:hover::after {
    background-color: rgba(255, 255, 255, .2);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-resizer:hover {
    color: rgba(255, 255, 255, 0.5);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-resizer.hidden {
    display: none;
}

.blobsey-flashcard-ui .blobsey-flashcard-cat2 {
    opacity: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

.blobsey-flashcard-ui .blobsey-flashcard-cat2.hidden {
    display: none;
}


.blobsey-flashcard-ui .blobsey-flashcard-widget-bottomResizer {
    width: 100%;
    height: 1.8em;
    cursor: ns-resize;
    position: absolute;
    bottom: 0;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-bottomResizer::after {
    content: '';
    display: block;
    width: 16px;
    height: 4px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s;
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-bottomResizer:hover::after {
    background-color: rgba(255, 255, 255, .2);
}

.blobsey-flashcard-ui .blobsey-flashcard-widget-bottomResizer.hidden {
    display: none;
}


/* Close button */

.blobsey-flashcard-ui #blobsey-flashcard-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: background-color 0.1s ease;
    z-index: 1;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button::before {
    content: "×";
    color: #fff;
    position: relative;
    top: -2px;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: -1;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button:hover::after {
    opacity: 1;
}

.blobsey-flashcard-ui #blobsey-flashcard-close-button:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.blobsey-flashcard-ui #blobsey-flashcard-fullscreen-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

/* CustomDropdown */
.blobsey-flashcard-ui .blobsey-flashcard-dropdown {
    width: 100%;
    max-width: initial;
    position: absolute;
    top: 0;
    left: max(0px, calc(50% - 30em));
    margin: 1em;
    padding: 0;
    min-height: 1em;
    cursor: pointer;
    z-index: 20000;
    text-align: left;
    transition: max-width 0.1s ease, backdrop-filter .1s ease, background-color .1s ease;
    box-sizing: content-box;
    display: flex; 
    align-items: center; 
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown.open {
    max-width: min(calc(100vw - 4em), 20em) !important;
    background-color: rgba(0, 0, 0, .25) !important;
    backdrop-filter: blur(3px);
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown.disabled {
    cursor: default;
    background-color: rgba(135, 135, 135, 0.2)
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(0deg);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    transition: transform 0.3s ease;
    z-index: 30000;
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown.open::after {
    transform: translateY(-50%) rotate(180deg);
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    max-height: 0;
    z-index: 20001; 
    overflow: hidden;
    overflow-y: scroll;
    transition: max-height 0.15s ease, background-color .1s ease;
    backdrop-filter: blur(10px); 
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-options.open {
    max-height: calc(100vh - 4em);
    background-color: rgba(0, 0, 0, 0.25);
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-display {
    all: initial;
    color: white;
    font: 14px system-ui;
    white-space: nowrap;
    display: inline-block;
    user-select: none;
    padding: 15px;
    line-height: 1; 
    pointer-events: none;
}

.blobsey-flashcard-ui .italicize {
    font-style: italic;
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-option {
    font-family: system-ui;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-option-text {
    width: 100%;
    padding: 15px;
    display: block;
    text-align: left;
    line-height: 1; 
    min-height: 1em;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-option.selected {
    background-color: rgba(255, 255, 255, 0.05);
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-options::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.blobsey-flashcard-ui .blobsey-flashcard-dropdown-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.blobsey-flashcard-ui #blobsey-flashcard-deck-threedots, .blobsey-flashcard-ui #blobsey-flashcard-refresh-button {
    all: initial;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
    z-index: 40000;
}

.blobsey-flashcard-ui #blobsey-flashcard-deck-threedots:hover, 
.blobsey-flashcard-ui #blobsey-flashcard-refresh-button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.blobsey-flashcard-ui #blobsey-flashcard-deck-threedots.disabled, 
.blobsey-flashcard-ui #blobsey-flashcard-refresh-button.disabled {
    cursor: default;
}

.blobsey-flashcard-ui #blobsey-flashcard-deck-threedots {
    right: max(60px, calc(50% - 24em));
}

.blobsey-flashcard-ui #blobsey-flashcard-refresh-button {
    right: max(100px, calc(50% - 24em + 40px));
}


.blobsey-flashcard-ui .blobsey-flashcard-threedots {
    all: initial;
    aspect-ratio: 1;
    height: 100%;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
    z-index: 40000;
}

.blobsey-flashcard-ui .blobsey-flashcard-threedots:hover {
    background-color: rgba(255, 255, 255, .2);
}


.blobsey-flashcard-ui .blobsey-flashcard-context-menu-icon {
    z-index: 50000;
}


.blobsey-flashcard-ui .blobsey-flashcard-context-menu-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    padding: 0;
    transform: translateX(16px) translateY(-16px);
    z-index: 60000;
    max-width: 0;
    max-height: 0;
    text-align: left;
    opacity: 0%;
    transition: opacity 1s ease;
    overflow: hidden;
}

.blobsey-flashcard-ui .blobsey-flashcard-context-menu-container.open {
    transition: max-height .45s ease, max-width .15s ease;
    opacity: 100%;
    max-height: 15em;
    max-width: 10em;
}

.blobsey-flashcard-ui .blobsey-flashcard-context-menu-container > div {
    padding: 10px;
    cursor: pointer;
    font-family: system-ui;
    color: white;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    text-align: left;
    overflow: none;
    text-overflow: clip;
}

.blobsey-flashcard-ui .blobsey-flashcard-context-menu-container > div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Set Active Deck Button */
.blobsey-flashcard-ui #blobsey-flashcard-set-active-deck-button {
    all: initial;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color: white;
    font: 14px system-ui;
    border: none;
    background: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.01);
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.blobsey-flashcard-ui #blobsey-flashcard-set-active-deck-button:hover {
    color: rgba(255, 255, 255, .85);
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, .85);
}

.blobsey-flashcard-ui #blobsey-flashcard-set-active-deck-button:focus {
    color: rgba(255, 255, 255, 1);
    outline: 1px solid rgba(255, 255, 255, .75);
}

.blobsey-flashcard-ui #blobsey-flashcard-set-active-deck-button:disabled {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    cursor: default;
    background-color: rgba(255, 255, 255, 0.1);
}

.blobsey-flashcard-ui #blobsey-flashcard-list-container {
    max-width: min(95%, 60em);
    height: 100vh;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
    margin-top: 1em;
}

.blobsey-flashcard-ui #blobsey-flashcard-loading-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* lines between rows in table */
.blobsey-flashcard-ui #blobsey-flashcard-list-table tr {
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, .05);
    /* border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)) 2; */
    transition: background-color 0.3s ease;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table tr:last-child {
    border-bottom: none;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table th,
.blobsey-flashcard-ui #blobsey-flashcard-list-table td {
    box-sizing: border-box;
    display: inline-block;
    padding: 1.05em 1.05em;
    font: 12px monospace, sans-serif;
    cursor: pointer;
    white-space: nowrap;    
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table th:first-child,
.blobsey-flashcard-ui #blobsey-flashcard-list-table td:first-child {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}

.blobsey-flashcard-ui #blobsey-flashcard-list-table th:last-child,
.blobsey-flashcard-ui #blobsey-flashcard-list-table td:last-child {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}

/* Hover effect for table rows */
.blobsey-flashcard-ui #blobsey-flashcard-list-table tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.blobsey-flashcard-ui #blobsey-flashcard-cat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 20%;
}
